@model insitum.Models.ProcesoViewModel
<!-- MAIN CONTENT -->


<div id="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa-fw fa fa-user"></i>
                        Detalle
                        <span>
                            >
                            Procesos
                        </span>
                    </h1>

                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="well well-light well-sm no-margin no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <br />
                                        <div class="col-sm-3 profile-pic">
                                            <div class="padding-10">
                                                <h4 class="font-md">
                                                    <strong>@ViewBag.TotalProcesos</strong>
                                                    <br>
                                                    <small>Procesos</small>
                                                </h4>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">

                                            <h1>
                                                <span class="semi-bold">@ViewBag.NombreApellido</span>
                                                <br>
                                                <small>@ViewBag.Identificacion</small>
                                            </h1>

                                            <ul class="list-unstyled">
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i><span class="txt-color-darken">&nbsp; @ViewBag.PhoneNumber</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="@ViewBag.Email">@ViewBag.Email</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-user"></i>&nbsp;&nbsp;<span class="txt-color-darken">@ViewBag.Email</span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <br>
                                            <ul class="list-unstyled">
                                                <legend>Conyugue</legend>
                                                <li>
                                                    <h1>
                                                        <span class="semi-bold">@ViewBag.NombreApellidoConyugue</span>
                                                        <br>
                                                        <small>@ViewBag.IdentificacionConyuge</small>
                                                    </h1>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i><span class="txt-color-darken">&nbsp; @ViewBag.TelefonoConyuge</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="javascript:void(0);">@ViewBag.CorreoConyuge</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <br /> <p><header></header></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="well well-light well-sm no-margin no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="padding-10">
                                        <ul class="nav nav-tabs tabs-pull-right">
                                            <li class="active">

                                                <a href="#a1" class="" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;&nbsp;&nbsp;&nbsp; Procesos</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content padding-top-10">
                                            <div class="tab-pane fade in active" id="a1">
                                                <div class="row">
                                                    @foreach (var item in Model.ListaProcesos)
                                                    {
                                                        <div class="col-xs-2 col-sm-2">
                                                            <time datetime="@item.FechaInicio.ToShortDateString()" class="icon">
                                                                <span>@item.FechaInicio.Year</span>
                                                                <strong>@Convert.ToString(@item.FechaInicio.ToString("MMM"))</strong>
                                                            </time>
                                                        </div>
                                                        <div class="col-xs-10 col-sm-10">
                                                            <h6 class="no-margin"><a href="../ClienteVista/DetalleAcciones/@item.IdProceso">@item.NIP</a></h6>
                                                            <p class="JustifyCenter">
                                                                @item.Detalle
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-2 col-sm-2">
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <br>
                                                            <hr />
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <!-- end row -->

</div>

@section pagespecific {

<script type="text/javascript">

    function mostrarAcciones(id)
    {
        alert("Mensaje");
    }
</script>

}