    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    @{ Html.RenderPartial("_CurrentUser"); }
    <nav>
        @if (User.IsInRole("GerenteGeneral"))
        {
            <ul>

                <li class=" @Html.RouteIf("Index", "active")">
                    <a href="#" title="Administrar clientes y supervisores"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Administraci&oacute;n</span></a>
                    <ul>
                        <li class="@Html.RouteIf("Supervisor", "active")">
                            <a href="@Url.Action("Index", "Supervisor")" title="Supervisores"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Supervisores</span></a>
                        </li>
                        <li class="@Html.RouteIf("Clientes", "active")">
                            <a href="@Url.Action("Index", "Clientes")" title="Clientes"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Clientes</span></a>
                        </li>
                    </ul>
                </li>

                <li class=" @Html.RouteIf("", "active")">
                    <a href="#" title="Colsultar informes gerenciales y compromisos con los clientes"><i class="fa fa-lg fa-fw fa-search"></i> <span class="menu-item-parent">Consultas</span></a>
                    <ul>
                        <li class="@Html.RouteIf("InformacionGerencial", "active")">
                            <a href="@Url.Action("MapaCalor", "InformacionGerencial")" title="Informaci&oacute;n gerencial"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Informaci&oacute;n gerencial</span></a>
                        </li>
                        <li class="@Html.RouteIf("Compromisos", "active")">
                            <a href="@Url.Action("Index", "Compromisos")" title="Compromisos"><i class="fa fa-lg fa-fw fa-list-ul"></i> <span class="menu-item-parent">Compromisos</span></a>
                        </li>
                        <li class=" @Html.RouteIf("", "active" )">
                            <a href="#" title="Reportes"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Reportes</span></a>
                            <ul>
                                <li class="@Html.RouteIf("ReporteClientes", "active")">
                                    <a href="@Url.Action("ReporteClientes", "Reportes")" title="Reporte de clientes"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Clientes</span></a>
                                </li>
                                <li class="@Html.RouteIf("ReporteCompromisos", "active")">
                                    <a href="@Url.Action("ReporteCompromisos", "Reportes")" title="Reporte de compromisos"><i class="fa fa-lg fa-fw fa-list-ul"></i> <span class="menu-item-parent">Compromisos</span></a>
                                </li>
                                <li class="@Html.RouteIf("ReporteVendedores", "active")">
                                    <a href="@Url.Action("ReporteVendedores", "Reportes")" title="Reporte de vendedores"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Vendedores</span></a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        }
        else
        {
            if (User.IsInRole("Supervisor"))
            {
                <ul>
                    <li class=" @Html.RouteIf("Index", "active" )">
                        <a href="#" title="Administrar clientes y supervisores"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Administraci&oacute;n</span></a>
                        <ul>
                            <li class="@Html.RouteIf("Vendedores", "active")">
                                <a href="@Url.Action("VendedorIndex", "Vendedores")" title="Vendedores"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Vendedores</span></a>
                            </li>
                            <li class="@Html.RouteIf("Clientes", "active")">
                                <a href="@Url.Action("Index", "Clientes")" title="Clientes"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Clientes</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class=" @Html.RouteIf("", "active" )">
                        <a href="#" title="Colsultar informes gerenciales y compromisos con los clientes"><i class="fa fa-lg fa-fw fa-search"></i> <span class="menu-item-parent">Consultas</span></a>
                        <ul>
                            <li class="@Html.RouteIf("Compromisos", "active")">
                                <a href="@Url.Action("Index", "Compromisos")" title="Clientes"><i class="fa fa-lg fa-fw fa-list-ul"></i> <span class="menu-item-parent">Compromisos</span></a>
                            </li>
                            <li class=" @Html.RouteIf("", "active" )">
                                <a href="#" title="Reportes"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Reportes</span></a>
                                <ul>
                                    <li class="@Html.RouteIf("ReporteClientes", "active")">
                                        <a href="@Url.Action("ReporteClientes", "Reportes")" title="Reporte de clientes"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Clientes</span></a>
                                    </li>
                                    <li class="@Html.RouteIf("ReporteCompromisos", "active")">
                                        <a href="@Url.Action("ReporteCompromisos", "Reportes")" title="Reporte de compromisos"><i class="fa fa-lg fa-fw fa-list-ul"></i> <span class="menu-item-parent">Compromisos</span></a>
                                    </li>
                                    <li class="@Html.RouteIf("ReporteVendedores", "active")">
                                        <a href="@Url.Action("ReporteVendedores", "Reportes")" title="Reporte de vendedores"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Vendedores</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
