@using insitum.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}


<div id="content" class="container">
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="center-block no-padding">
                <div class="well no-padding">
                    <form action="@Url.Action("login", "account")" method="POST" id="login-form" class="smart-form client-form">
                        
                        <header>
                            <img src="~/Imagenes/Logo_1.png" />
                        </header>

                        @Html.AntiForgeryToken()
                        @Html.ValidationBootstrap()
                        <fieldset>
                            <section>
                                <label class="label">@Html.DisplayNameFor(model => model.Email)</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="Email">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Por favor entre su usuario</b>
                                </label>
                            </section>

                            <section>
                                <label class="label">@Html.DisplayNameFor(model => model.Password)</label>
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="Password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>Por favor entre su contraseña</b>
                                </label>
                            </section>

                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="RememberMe" value="true" checked="checked">
                                    <input type="hidden" name="RememberMe" value="false" />
                                    <i></i>@Html.DisplayNameFor(model => model.RememberMe)
                                </label>
                            </section>
                        </fieldset>
                        <footer>

                            <button type="submit" class="btn btn-primary">
                                Aceptar
                            </button>
                           <i class="fa fa-key"></i> @Html.ActionLink("Recuperar contraseña", "RecuperarContrasena", "Account")
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    Email: {
                        required: 'Por favor entre su correo',
                        email: 'Entre un correo válido'
                    },
                    Password: {
                        required: 'Por favor entre su contraseña'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}