@model insitum.Models.ProcesoViewModel
<!-- MAIN CONTENT -->


<div id="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <h1 class="page-title txt-color-blueDark">
                            <i class="glyphicon glyphicon-retweet">  </i>
                            &nbsp; Procesos
                            <span>

                            </span>
                        </h1>

                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                        <!-- Button trigger modal -->
                        <a href="../../Cliente/ListarCliente" class="btn btn-info btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-users fa-lg"></i> Listado de clientes</a>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                        <!-- Button trigger modal -->
                        <a href="../BuscarCliente" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-search fa-lg"></i> Buscar cliente</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="well well-light well-sm no-margin no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <br />
                                        <div class="col-sm-3 profile-pic">
                                            <div class="padding-10">
                                                <h4 class="font-md">
                                                    <strong>@ViewBag.TotalProcesos</strong>
                                                    <br>
                                                    <small>Procesos</small>
                                                </h4>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">

                                            <h1>
                                                <span class="semi-bold">@ViewBag.NombreApellido</span>
                                                <br>
                                                <small>@ViewBag.Identificacion</small>
                                            </h1>

                                            <ul class="list-unstyled">
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i><span class="txt-color-darken">&nbsp; @ViewBag.PhoneNumber</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="@ViewBag.Email">@ViewBag.Email</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-user"></i>&nbsp;&nbsp;<span class="txt-color-darken">@ViewBag.Email</span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <br>
                                            <ul class="list-unstyled">
                                                <legend>Conyugue</legend>
                                                <li>
                                                    <h1>
                                                        <span class="semi-bold">@ViewBag.NombreApellidoConyugue</span>
                                                        <br>
                                                        <small>@ViewBag.IdentificacionConyuge</small>
                                                    </h1>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i><span class="txt-color-darken">&nbsp; @ViewBag.TelefonoConyuge</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="@ViewBag.CorreoConyuge">@ViewBag.CorreoConyuge</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <br /> <p><header></header></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">

                        <div>
                            <div class="">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title">
                                            <i class="glyphicon glyphicon-retweet">  </i> &nbsp; Nuevo proceso
                                        </h4>
                                    </div>
                                    <div class="">
                                        <form id="login-form" method="post" class="smart-form">
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.Id)
                                            <fieldset>
                                                <section>
                                                    <div class="row form-group">
                                                        <label class="label col col-3">Fecha</label>
                                                        <div class="col col-9">
                                                            <label class="input">
                                                                <input name="FechaInicio" placeholder="@DateTime.Now.ToShortDateString()" readonly="readonly" class="form-control datepicker" data-dateformat='dd/mm/yy' />
                                                            </label>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section>
                                                    <div class="row">
                                                        <label class="label col col-3">Tipo de acci&oacute;n</label>
                                                        <div class="col col-9">
                                                            <label class="input">
                                                                <input type="text" name="NIP" placeholder="Ingrese el NIP">
                                                                @Html.ValidationMessageFor(model => model.NIP, "", new { @class = "text-danger" })
                                                            </label>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section>
                                                    <div class="row">
                                                        <div class="col col-3">Detalle</div>
                                                        <div class="col col-9">
                                                            <textarea rows="8" class="form-control" name="Detalle" placeholder="Detalle del proceso" required>@Model.Detalle</textarea>
                                                        </div>
                                                    </div>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-save"></i> Guardar
                                                </button>
                                            </footer>
                                        </form>

                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>


                    </div>
                </div>
                <br />
                <div class="alert alert-block alert-info">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                    <p>
                        Procesos del cliente seleccionado
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="well well-light well-sm no-margin no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="padding-10">
                                        <ul class="nav nav-tabs tabs-pull-right">
                                            <li class="active">

                                                <a href="#a1" class="" data-toggle="tab"><i class="glyphicon glyphicon-retweet"></i>&nbsp;&nbsp;&nbsp;&nbsp; Procesos del cliente</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content padding-top-10">
                                            <div class="tab-pane fade in active" id="a1">
                                                <div class="row">
                                                    @foreach (var item in Model.ListaProcesos)
                                                    {
                                                        <div class="col-xs-2 col-sm-2">
                                                            <time datetime="@item.FechaInicio.ToShortDateString()" class="icon">
                                                                <span>@item.FechaInicio.Year</span>
                                                                <strong>@Convert.ToString(@item.FechaInicio.ToString("MMM"))</strong>
                                                            </time>
                                                        </div>
                                                        <div class="col-xs-10 col-sm-10">
                                                            <h6 class="no-margin"><a href="../DetalleAcciones/@item.IdProceso">@item.NIP</a></h6>
                                                            <p class="JustifyFull">
                                                                @item.Detalle
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-2 col-sm-2">
                                                        </div>
                                                        <div class="col-xs-10 col-sm-10">
                                                            @Html.ActionLink(" ", "EditarProceso", new { id = item.IdProceso }, new { @class = "editar btn btn-default btn-md glyphicon glyphicon-edit", @style = "color:blue" })
                                                            @Html.ActionLink(" ", "EliminarProceso", new { id = item.IdProceso }, new { @class = "eliminar btn btn-default btn-md glyphicon glyphicon-trash", @style = "color:red", onclick = "return confirm('Desea eliminar el registro... ?');" })
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <br>
                                                            <hr />
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <!-- end row -->

</div>

@section pagespecific {

<script type="text/javascript">

    $(document).ready(function () {


        var $orderForm = $("#login-form").validate({
            // Rules for form validation
            rules: {
                FechaInicio: {
                    required: true
                },
                NIP: {
                    required: true
                },
                Detalle: {
                    required: true
                },
            },

            // Messages for form validation
            messages: {
                FechaInicio: {
                    required: 'Por favor entre la Fecha de inicio'
                },
                NIP: {
                    required: 'Por favor entre el NIP'
                },
                Detalle: {
                    required: 'Por favor entre el Detalle'
                }
               
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    })
</script>

}